@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&display=swap');

body {

  /* font-family: "Roboto", sans-serif; */
  font-family: "Archivo Black", sans-serif;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  
}
:root {
  --color-primary: #FFD60A;
  --color-secondary: #FBEC5D;
  --color-accent: #FFC300;
  --color-dark-blue: #26428B;
  --color-darker-blue: #003566;
  --color-darkest-blue: #001D3D;
  --color-near-black: #000814;
}

.bgNavbar{
  background-color: var(--color-near-black) !important;
  
}

.fontArchivoBold {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fontArchivo {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bgButtonLogin {
  background-color: var(--color-dark-blue);
  border: 2px solid var(--color-secondary);
  
  
  
  transition: 0.3s;
  

}
.bgButtonLogin:hover{
  background-color: var(--color-darker-blue);
  transition: 0.3s;

}
.oddsMenuSize{
  font-size: 20px;
}

.fontStrong {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: italic;
  transition: 0.5s;
}
.fontStrong:hover {
  transition: 0.6s !important;
  color: var(--color-secondary);
}
/* DROPDOWN Divider de la navbar  */

.autres{
  font-weight: bold; 
  transition: 0.6s;
}
.autres:hover{
  transition: 0.6s !important;
  color: var(--color-primary);
 
}

.logoYizBet {
  height: 70px;
}

.carouselBg {
  background-color: #000814c6;
  color: white;
  margin-top: 120px !important;
}

.LogoCompet {
  height: 50px;
  border-radius: 50%;
}

.flagMenu {
  height: 30px;
  margin: 20px;
  border-radius: 100%;
}

.btn_betOdds {
  color: white;
  font-weight: bold;
  background-color: black;
  transition: 0.3s;
}

.btn_betOdds:hover {
  transition: 0.3s;
  background-color: rgb(0, 0, 0) !important;
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.crestTeam {
  height: 20px;
  width: 20px;
}

.jeuxDanger {
  width: 100%;
}

.standingCard {
  background-color: blue;
  color: white;
  border-radius: 4%;
  font-weight: bold;

}

.textScored {
  margin-top: 20%;
  color: #005099;
}

.sectionCopyright {
  height: 320px;
  color: white;
  font-weight: bold;
  font-size: 10px;

}

.gamesDay {
  color: var(--color-near-black);
  font-weight: 700;
  font-size: 30px;
  background-color: var(--color-secondary);
  transform: skew(-10deg);
}

.section1 {
  background-color: var(--color-near-black);
  justify-content: center;
  padding: 26px;
}



.btnOdsSkew {
  background-color: var(--color-dark-blue);
  color: var(--color-secondary);
  font-weight: bold;
  border: none;
  transition: 0.6s;
  padding: 7px;
}

.btnOdsSkew:hover {
  transition: 0.6s;
  background-color: var(--color-darkest-blue);
  color: var(--color-primary);
}

.dateGame,
.venueGame {
  font-weight: 900;
}

/* PLACEHOLDER SKALTON  */


.btnWatchAllGame {
  background-color: var(--color-near-black);
  border-color: var(--color-accent);
}

.btnWatchAllGame:hover {
  transition: 0.4s;
  background-color: var(--color-dark-blue);
  border-color: var(--color-accent);
}

.logoEntrance {
  animation: logoEntrance 2.5s ease 0s 1 normal forwards;
}

.welcomeEntrance {
  animation: logoEntrance 2s ease 0s 1 normal forwards;
}

.welcome {
  height: 100px;
  width: 500px;
}

@keyframes logoEntrance {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.haveAccount {
  animation: haveAccount 2s ease 0s 1 normal forwards;
}

@keyframes haveAccount {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sizeImg {
  height: 150px;
}

.coin {
  height: 30px;
}

.noChildren {
  color: white;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%
}

.buttonLogin {
  margin-left: 42%;
}

.loading {
  background-color: var(--color-near-black);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.logoLoading {
  height: 70px;
}


/* DIV CACHEE POUR PRONO DES MATCHS  */
.additional-info {
  background-color: #444444d8;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: max-height 0.5s ease-in-out;
  animation: animProno 2s ease 0s 1 normal forwards;
  transition: 1s;
}

@keyframes animProno {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* CUSTOMISATION DU TOAST */
/* CUSTOMISATION DU TOAST */
/* CUSTOMISATION DU TOAST */

.custom-toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.custom-toast {
  background-color: #2f3031;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  border-radius: 8px;
  animation: Toast 2s ease 0s 1 normal forwards;
}

.custom-toast .toast-header {
  background-color: var(--color-darker-blue);
  color: var(--color-primary);
}

.custom-toast .toast-header .me-auto {
  font-weight: bold; 
}

.custom-toast .toast-body {
  font-size: 18px; 
}
@keyframes Toast {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.outAnimation {
  animation: ToastOut 2s ease 0s 1 normal forwards;

}
@keyframes ToastOut {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(50px);
	}
}
/* CUSTOMISATION DU TOAST */
/* CUSTOMISATION DU TOAST */
/* CUSTOMISATION DU TOAST */
