@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fontStrong {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.logoYizBet {
  height: 70px;
}
.carouselBg {
  background-color: rgba(0, 0, 0, 0.615);
  color: white;
  margin-top: 120px !important;
}
.LogoCompet{
  height: 50px;
  border-radius: 50%;
}
.flagMenu{
  height: 20px;
  margin: 10px;
  border-radius: 100%;
}

.btn_betOdds{
  color: white;
  font-weight: bold;
  background-color: black;
  transition: 0.3s;
}
.btn_betOdds:hover {
  transition: 0.3s;
  background-color: rgb(0, 0, 0) !important;
  color:yellow;
  border: 1px solid yellow;
}

.crestTeam{
  height: 20px;
  width: 20px;
}
.jeuxDanger{
  width: 100%;
}

.standingCard{
  background-color: blue;
  color: white;
  border-radius: 4%;
  font-weight: bold;
  
}

.textScored {
  margin-top: 20%;
  color: #005099;
}
.sectionCopyright{
  height: 200px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  
}

.gamesDay {
  color: yellow;
  font-weight: 700;
  font-size: 20px;
  background-color: rgb(37, 36, 36);
  transform: skew(-10deg);
}
.section1 {
  background-color: black;  
  justify-content: center;
  padding: 26px;
}

.btnOdsSkew {
  background-color: black;
  color: yellow;
  font-weight: bold;
  border: none;
  transition: 0.6s;
  padding: 7px;
}
.btnOdsSkew:hover{
  transition: 0.6s;
  background-color: gray;
}
.dateGame , .venueGame{
  font-weight:900;
}

/* PLACEHOLDER SKALTON  */


.btnWatchAllGame{
  background-color:#252424 !important;
  border-color: gold;
}
.btnWatchAllGame:hover{
  transition: 0.4s;
  background-color:#363333 !important;
  
}