@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&display=swap');

:root {
    --color-primary: #FFD60A;
    --color-secondary: #FBEC5D;
    --color-accent: #FFC300;
    --color-dark-blue: #26428B;
    --color-darker-blue: #003566;
    --color-darkest-blue: #001D3D;
    --color-near-black: #000814;
  }


/* Navbar mobile  */
.navbarMobile .nav-link {
    color: #fff;
    transition: 0.6s;
  }
  .navbarMobile .nav-link:hover {
    color:var(--color-secondary);
    transition: 0.6s;
  }
  
  .loginResp .btnLogin {
    margin-right: 10px;
  }
  
  @media (max-width: 992px) {

    .loginResp {
      flex-wrap: nowrap;
      justify-content: center;
    }
  
    .loginResp .btnLogin {
      margin-bottom: 0;
    }
    .logoMobile{
        height: 40px;
        margin-top: 15%;
        margin-bottom: 15%;
    }
   
  }
/* Navbar mobile  */

@media (max-width: 600px) {
    .prevention, .prevention-overlay{
      display: none;
    }
    .btnburger{
      margin-left: 8px !important;
    }
    .loginResp {
        display: flex;
        flex-direction: column;
    }
    .btnLogin {
        height: 40px !important;
        margin: 5px;
        font-size: 12px;
        color:var(--color-secondary);
        margin-right: 1%;
          
    }
    .btn2{
        width: 67px;
    }
    /* .navbarMobile{
        margin-left: -30px;
    } */
    .tableStanding {
        margin-left: 0%;
        font-size: 10px;
      }
     .pub {
       width: 100%;
       height: 100%;
         
     }
     .logoResponsive{
        height: 200px;
     }
     .noChildren{
        font-size: 13px;
        margin-top: -20px !important
     }
     .buttonLogin{
        margin-left: 20%;
     }
     .inputs {
        width: 200px !important;
        margin-left: -58px !important;
     }
     .inputs2 {
        width: 200px !important;
        margin-left: 46px !important;
     }
     .sizeImg2{
       display: none;
     }
     .custom-toast-container {
        position: fixed;
        top: 40%;
        right: 190px;
        z-index: 999;
      }
      .loginBtn{
        color: white;
        margin-top: 5%;
        margin-left: -7px;
      }
      .carouselBg {
        width: 350px;
        margin-left: -46px;
        
      }
      .custom-toast-container {
        position:sticky;
        top: 50%;
        right: 25%;
        z-index: 999;
      }
      .custom-toast-container2 {
        position: sticky;
        top: 50%;
        right: 10%;
        z-index: 999;
      }
      .custom-toast2 {
        height: 290px;
      }
      .custom-toast-container3 {
        position: sticky;
        top: 50%;
        right: 10%;
        z-index: 999;
      }
      /* Footer */
      .preventionFooter {
        margin-left: -6%;
        height: 40px !important;
      }
      
     
}
    


/* IPAD ECT.. */
@media (min-width: 600px) and (max-width: 1100px) {
    .tableStanding {
        margin-left: 10%;
    }
    .buttonLogin{
        margin-left: 40%;
     }
     .inputs {
        width: 300px !important;
        margin-left: -58px !important;
     }
     .prevention{
      height: 10%;
      width: 90%;
     }
     .loginBtn{
      color: white;
      margin-top: 5%;
      margin-left: -23px;
    }
    .custom-toast-container2 {
      
      top: 30%;
      right: 25%;
      z-index: 999;
    }
    .custom-toast-container3{
      top: 30%;
      right: 25%;
      z-index: 999;

    }
     
    }

    .animated-logo {
        /* Exemple d'animation CSS */
        animation: logoEntrance 2.5s ease 0s 1 normal forwards;
      }
      
      @keyframes logoEntrance {
        0% {
            opacity: 0;
            transform: translateY(-250px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
      

    @media (min-width: 900px) {
      
      .inputs2{
        width: 60% !important;
        margin-left: 19%;
        font-size: 20px;
        font-family: "Inter", sans-serif;
        text-align: center;
          
      }
      .inputs {
        width: 70%;
        margin-left: 15%;
      }

      .loginBtn{
        margin-top: 5%;
        color: white;
      }
      
    }

    /* caroussel */
