:root {
    --color-primary: #FFD60A;
    --color-secondary: #FBEC5D;
    --color-accent: #FFC300;
    --color-dark-blue: #26428B;
    --color-darker-blue: #003566;
    --color-darkest-blue: #001D3D;
    --color-near-black: #000814;
  }


/* Navbar mobile  */
.navbarMobile .nav-link {
    color: #fff;
    transition: 0.6s;
  }
  .navbarMobile .nav-link:hover {
    color:var(--color-secondary);
    transition: 0.6s;
  }
  
  .loginResp .btnLogin {
    margin-right: 10px;
  }
  
  @media (max-width: 992px) {

    .loginResp {
      flex-wrap: nowrap;
      justify-content: center;
    }
  
    .loginResp .btnLogin {
      margin-bottom: 0;
    }
    .logoMobile{
        height: 40px;
        margin-top: 15%;
        margin-bottom: 15%;
    }
  }
/* Navbar mobile  */

@media (max-width: 600px) {
    .prevention, .prevention-overlay{
      display: none;
    }
    .btnburger{
      margin-left: 8px !important;
    }
    .loginResp {
        display: flex;
        flex-direction: column;
    }
    .btnLogin {
        height: 40px;
        margin: 5px;
        font-size: 12px;
        color:var(--color-secondary);
        margin-right: 1%;
        
    }
    .btn2{
        width: 67px;
    }
    /* .navbarMobile{
        margin-left: -30px;
    } */
    .tableStanding {
        margin-left: 0%;
        font-size: 10px;
      }
     .pub {
       width: 100%;
       height: 100%;
         
     }
     .logoResponsive{
        height: 200px;
     }
     .noChildren{
        font-size: 13px;
        margin-top: -20px !important
     }
     .buttonLogin{
        margin-left: 20%;
     }
     .inputs {
        width: 200px !important;
        margin-left: -58px !important;
     }
     .inputs2 {
        width: 200px !important;
        margin-left: 30px !important;
     }
     .sizeImg2{
       display: none;
     }
     .custom-toast-container {
        position: fixed;
        top: 40%;
        right: 190px;
        z-index: 999;
      }
     
}
    
    

/* IPAD ECT.. */
@media (min-width: 600px) and (max-width: 810px) {
    .tableStanding {
        margin-left: 10%;
    }
    .buttonLogin{
        margin-left: 40%;
     }
     .inputs {
        width: 300px !important;
        margin-left: -58px !important;
     }
     .prevention{
      height: 10%;
      width: 90%;
     }
     
    }

    .animated-logo {
        /* Exemple d'animation CSS */
        animation: logoEntrance 2.5s ease 0s 1 normal forwards;
      }
      
      @keyframes logoEntrance {
        0% {
            opacity: 0;
            transform: translateY(-250px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
      

    @media (max-width: 600px) {
      
      
    }